@page
@model EMedicalClaimRefundSystem.Pages.Admin.UserAppDetailsModel
@{
    ViewData["Title"] = "UserAppDetails";
    Layout = "~/Pages/Shared/_PopupLayout.cshtml";
}

<div class="container">
    <div class="">
        <form method="post" class="form-horizontal">
            <input asp-for="UserAppViewModel.Id" hidden />
            <h4>User Application Details.</h4>
            <hr />
            <div class="row">
                <label class="col-md-2"><b>User: </b></label>
                <div class="col-md-2">
                    <p>@Model.UserAppViewModel.AppliedByUserName</p>
                </div>
                <div class="offset-md-4 col-md-2">
                    <label><b>Date: </b></label>
                </div>
                <div class="col-md-2">
                    <p>@Model.UserAppViewModel.AppliedDate</p>
                </div>
            </div>
            <div class="row">
                <label class="col-md-2"><b>Patient: </b></label>
                <div class="col-md-2">
                    <p>@Model.UserAppViewModel.PatientName</p>
                </div>
                <div class="offset-md-4 col-md-2">
                    <label><b>Phone: </b></label>
                </div>
                <div class="col-md-2">
                    <p>@Model.UserAppViewModel.PhoneNumber</p>
                </div>
            </div>
            <div class="row">
                <label class="col-md-2"><b>Address: </b></label>
                <div class="col-md-2">
                    <p>@Model.UserAppViewModel.Address</p>
                </div>
            </div>
            <br />
            <br />
            <div class="row">
                <label><b>Application Submited: </b></label>
            </div>
            <div class="row">
                <div class="offset-md-2">
                    <p>@Model.UserAppViewModel.Notes </p>
                </div>

            </div>
            <br />
            <br />
            <div class="row">
                <label><b>Attahments: </b></label>
            </div>
            <div class="row">
                <div class="offset-md-2">
                    @if (Model.UserAppViewModel.Attachs != null)
                    {
                        @foreach (var file in Model.UserAppViewModel.Attachs)
                        {
                            @*<a href="javascript:DownloadSlip('@file')">@file</a>*@
                            <input type="submit" asp-page-handler="DownloadFile"
                                   class="btn btn-link input-sm" name="slipname" value="@file">
                            @*@Html.ActionLink(file,"OnPostDownloadFile",new { SlipName = file , Id = 1234, appid = Model.UserAppViewModel.Id})*@
                        }
                    }
                    else
                    {
                        <p>No file attached!</p>
                    }
                </div>

            </div>
            <br />
            <div class="row">
                <label class="col-sm-2"><b>App Status</b></label>
                <div class="col-sm-4">
                    <select asp-for="UserAppViewModel.Status" class="form-control custom-select my-1 mr-sm-2">
                        UserClaimed,CRDAccepted,CRDRejected,BankAccepted,BankRejected,RefundedSucessfully,UserCenceled
                        <option value="0">UserClaimed</option>
                        <option value="1">CRDAccepted</option>
                        <option value="2">CRDRejected</option>
                        <option value="3">BankRejected</option>
                        <option value="4">RefundedSucessfully</option>
                        <option value="5">UserCenceled</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <button type="submit" class="btn btn-primary">Update Status</button>
            </div>

        </form>
    </div>
</div>